@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #222222;
    font-family: "Noto Sans KR", sans-serif;
}

.header {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 60px;
}

.logo {
    margin-right: auto;
}

 .gnb {
    display: flex;
}

.gnb a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
}

.gnb a.on {
    color: #0848BC;
}

.user {
    margin-left: 50px;
}

.user button {
    border: none;
    border-radius: 66px;
    background-color: #0084BC;
    color: #ffffff;
    width: 66px;
    height: 32px;
}

.slide {
    height: 650px;    
    position: relative;
}

.slide .texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide .texts h3 {
    font-size: 36px;
    font-weight: 700;
}

.slide .texts h2 {
    font-family: "Days One", sans-serif;
    font-size: 96px;
}

.slide .texts p {
    font-size: 14px;
    font-weight: 400;
    width: 560px;
}

.slide_arrows {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slide_arrows img {
    width: 46px;
}

.object {
    position: absolute;
    top: 30%;
    right: 200px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.next {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.contents {
    width: 1170px;
    margin: 0 auto;
}

.contents1_wrap {
    padding: 62px 30px 135px;
    display: flex;
}

.contents1_wrap h1 {
    font-size: 56px;
    font-weight: 700;
    width: 500px;
}
.contents1_wrap p {
    padding: 20px 0 70px ;
}

.contents1_wrap .btns button {
    width: 160px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #222222;
    font-weight: 500;
    border-radius: 0px;
    border: none;
    gap: 20px;
}

.contents1_wrap .btns button.view {
    margin-right: 10px;
}

.content1 {
    width: 570px;
    height: 500px;
}

.banner {
    margin-left: 30px;
}

.contents2_wrap {
    display: flex;
    justify-content: space-between;
}

.allview {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #808080;
}

.allview i {
    margin-left: 10px;
}

.c2_imgs {
    padding: 30px 0;
}

.c2_imgs img:nth-child(2) {
    margin-left: 26px;
}

.c2_imgs img:nth-child(4) {
    width: 570px;
    height: 320px;
    margin-left: 26px;
}